.col-4 {
    float: left;
}

.col-4 a{
    display: block;
    width: 150px;
    margin: 20px auto;
}

.active{
    border: 1px solid #007BFF;
    border-radius: 5px;
    background: white;
    color: #007BFF;

}