<div class="container">
  <div class="routes">
    <div class="col-4">
        <a [routerLink]="['/high']" routerLinkActive="active" [ngClass]="'btn btn-primary'">High</a>
    </div>
    <div class="col-4">
      <a [routerLink]="['/medium']" routerLinkActive="active" [ngClass]="'btn btn-primary'">Medium</a>
    </div>
    <div class="col-4">
      <a [routerLink]="['/low']" routerLinkActive="active" [ngClass]="'btn btn-primary'">Low</a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

